In [277]:
import pandas as pd

In [278]:
df = pd.read_csv("heart_attack_dataset.csv")
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,Typical Angina,Lifestyle Changes
1,Female,55,103,253,Yes,Never,Atypical Angina,Angioplasty
2,Male,42,95,295,Yes,Current,Typical Angina,Angioplasty
3,Male,84,106,270,No,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
4,Male,86,187,296,Yes,Current,Non-anginal Pain,Medication
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,Current,Typical Angina,Angioplasty
996,Male,80,186,267,Yes,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
997,Female,64,108,174,Yes,Current,Non-anginal Pain,Coronary Artery Bypass Graft (CABG)
998,Female,84,123,195,No,Current,Asymptomatic,Lifestyle Changes
999,Male,61,155,197,No,Former,Atypical Angina,Lifestyle Changes

In [279]:
df.head()

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,Typical Angina,Lifestyle Changes
1,Female,55,103,253,Yes,Never,Atypical Angina,Angioplasty
2,Male,42,95,295,Yes,Current,Typical Angina,Angioplasty
3,Male,84,106,270,No,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
4,Male,86,187,296,Yes,Current,Non-anginal Pain,Medication

In [280]:
df.tail()

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
995,Male,42,125,193,Yes,Current,Typical Angina,Angioplasty
996,Male,80,186,267,Yes,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
997,Female,64,108,174,Yes,Current,Non-anginal Pain,Coronary Artery Bypass Graft (CABG)
998,Female,84,123,195,No,Current,Asymptomatic,Lifestyle Changes
999,Male,61,155,197,No,Former,Atypical Angina,Lifestyle Changes

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 1000 non-null   object
 1   Age                    1000 non-null   int64
 2   Blood Pressure (mmHg)  1000 non-null   int64
 3   Cholesterol (mg/dL)    1000 non-null   int64
 4   Has Diabetes           1000 non-null   object
 5   Smoking Status         1000 non-null   object
 6   Chest Pain Type        1000 non-null   object
 7   Treatment              1000 non-null   object
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [282]:
df.describe()

               Age  Blood Pressure (mmHg)  Cholesterol (mg/dL)
count  1000.000000            1000.000000          1000.000000
mean     60.338000             145.440000           223.789000
std      17.317496              31.756525            42.787817
min      30.000000              90.000000           150.000000
25%      45.000000             118.000000           185.000000
50%      60.500000             146.000000           225.500000
75%      76.000000             173.000000           259.000000
max      89.000000             199.000000           299.000000

In [283]:
df.dtypes

Gender                   object
Age                       int64
Blood Pressure (mmHg)     int64
Cholesterol (mg/dL)       int64
Has Diabetes             object
Smoking Status           object
Chest Pain Type          object
Treatment                object
dtype: object

In [284]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [285]:
df.duplicated().sum()

np.int64(0)

In [286]:
df.isnull()

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [287]:
df.isnull().sum()

Gender                   0
Age                      0
Blood Pressure (mmHg)    0
Cholesterol (mg/dL)      0
Has Diabetes             0
Smoking Status           0
Chest Pain Type          0
Treatment                0
dtype: int64

In [288]:
df.drop_duplicates(inplace=True)  ###inplace == true
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,Typical Angina,Lifestyle Changes
1,Female,55,103,253,Yes,Never,Atypical Angina,Angioplasty
2,Male,42,95,295,Yes,Current,Typical Angina,Angioplasty
3,Male,84,106,270,No,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
4,Male,86,187,296,Yes,Current,Non-anginal Pain,Medication
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,Current,Typical Angina,Angioplasty
996,Male,80,186,267,Yes,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
997,Female,64,108,174,Yes,Current,Non-anginal Pain,Coronary Artery Bypass Graft (CABG)
998,Female,84,123,195,No,Current,Asymptomatic,Lifestyle Changes
999,Male,61,155,197,No,Former,Atypical Angina,Lifestyle Changes

In [289]:
df.duplicated().sum()

np.int64(0)

In [290]:
df['Smoking Status']

0        Never
1        Never
2      Current
3        Never
4      Current
        ...
995    Current
996      Never
997    Current
998    Current
999     Former
Name: Smoking Status, Length: 1000, dtype: object

In [291]:
df['Smoking Status'].unique()

array(['Never', 'Current', 'Former'], dtype=object)

In [292]:
df['Smoking Status'].value_counts()

Smoking Status
Never      352
Current    325
Former     323
Name: count, dtype: int64

In [293]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,Typical Angina,Lifestyle Changes
1,Female,55,103,253,Yes,Never,Atypical Angina,Angioplasty
2,Male,42,95,295,Yes,Current,Typical Angina,Angioplasty
3,Male,84,106,270,No,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
4,Male,86,187,296,Yes,Current,Non-anginal Pain,Medication
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,Current,Typical Angina,Angioplasty
996,Male,80,186,267,Yes,Never,Atypical Angina,Coronary Artery Bypass Graft (CABG)
997,Female,64,108,174,Yes,Current,Non-anginal Pain,Coronary Artery Bypass Graft (CABG)
998,Female,84,123,195,No,Current,Asymptomatic,Lifestyle Changes
999,Male,61,155,197,No,Former,Atypical Angina,Lifestyle Changes

In [294]:
df['Treatment'].unique()

array(['Lifestyle Changes', 'Angioplasty',
       'Coronary Artery Bypass Graft (CABG)', 'Medication'], dtype=object)

In [295]:
Treatment_dict = {
    'Lifestyle Changes':1,
    'Angioplasty':2,
    'Coronary Artery Bypass Graft (CABG)':3,
    'Medication':4
}

In [296]:
Treatment_dict

{'Lifestyle Changes': 1,
 'Angioplasty': 2,
 'Coronary Artery Bypass Graft (CABG)': 3,
 'Medication': 4}

In [297]:
df['Treatment']=df['Treatment'].map(Treatment_dict)

In [298]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,Typical Angina,1
1,Female,55,103,253,Yes,Never,Atypical Angina,2
2,Male,42,95,295,Yes,Current,Typical Angina,2
3,Male,84,106,270,No,Never,Atypical Angina,3
4,Male,86,187,296,Yes,Current,Non-anginal Pain,4
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,Current,Typical Angina,2
996,Male,80,186,267,Yes,Never,Atypical Angina,3
997,Female,64,108,174,Yes,Current,Non-anginal Pain,3
998,Female,84,123,195,No,Current,Asymptomatic,1
999,Male,61,155,197,No,Former,Atypical Angina,1

In [299]:
df.dtypes

Gender                   object
Age                       int64
Blood Pressure (mmHg)     int64
Cholesterol (mg/dL)       int64
Has Diabetes             object
Smoking Status           object
Chest Pain Type          object
Treatment                 int64
dtype: object

In [300]:
df['Chest Pain Type'].unique()

array(['Typical Angina', 'Atypical Angina', 'Non-anginal Pain',
       'Asymptomatic'], dtype=object)

In [301]:
chestpaintype_dict = {
    'Typical Angina':1,
    'Atypical Angina':2,
    'Non-anginal Pain':3,
    'Asymptomatic':4
}

In [302]:
chestpaintype_dict

{'Typical Angina': 1,
 'Atypical Angina': 2,
 'Non-anginal Pain': 3,
 'Asymptomatic': 4}

In [303]:
df['Chest Pain Type']=df['Chest Pain Type'].map(chestpaintype_dict)

In [304]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,Never,1,1
1,Female,55,103,253,Yes,Never,2,2
2,Male,42,95,295,Yes,Current,1,2
3,Male,84,106,270,No,Never,2,3
4,Male,86,187,296,Yes,Current,3,4
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,Current,1,2
996,Male,80,186,267,Yes,Never,2,3
997,Female,64,108,174,Yes,Current,3,3
998,Female,84,123,195,No,Current,4,1
999,Male,61,155,197,No,Former,2,1

In [305]:
df.dtypes

Gender                   object
Age                       int64
Blood Pressure (mmHg)     int64
Cholesterol (mg/dL)       int64
Has Diabetes             object
Smoking Status           object
Chest Pain Type           int64
Treatment                 int64
dtype: object

In [306]:
df['Smoking Status'].unique()

array(['Never', 'Current', 'Former'], dtype=object)

In [307]:
SmokingStatus_dict = {'Never':1, 'Current':2, 'Former':3}

In [308]:
SmokingStatus_dict

{'Never': 1, 'Current': 2, 'Former': 3}

In [309]:
df['Smoking Status']=df['Smoking Status'].map(SmokingStatus_dict)

In [310]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,Male,70,181,262,No,1,1,1
1,Female,55,103,253,Yes,1,2,2
2,Male,42,95,295,Yes,2,1,2
3,Male,84,106,270,No,1,2,3
4,Male,86,187,296,Yes,2,3,4
...,...,...,...,...,...,...,...,...
995,Male,42,125,193,Yes,2,1,2
996,Male,80,186,267,Yes,1,2,3
997,Female,64,108,174,Yes,2,3,3
998,Female,84,123,195,No,2,4,1
999,Male,61,155,197,No,3,2,1

In [311]:
df['Gender']

0        Male
1      Female
2        Male
3        Male
4        Male
        ...
995      Male
996      Male
997    Female
998    Female
999      Male
Name: Gender, Length: 1000, dtype: object

In [312]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [313]:
df['Gender'].value_counts()

Gender
Female    510
Male      490
Name: count, dtype: int64

In [314]:
Gender_dict = {
    'Male':1,
    'Female':2
}

In [315]:
Gender_dict

{'Male': 1, 'Female': 2}

In [316]:
df['Gender']=df['Gender'].map(Gender_dict)

In [317]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,1,70,181,262,No,1,1,1
1,2,55,103,253,Yes,1,2,2
2,1,42,95,295,Yes,2,1,2
3,1,84,106,270,No,1,2,3
4,1,86,187,296,Yes,2,3,4
...,...,...,...,...,...,...,...,...
995,1,42,125,193,Yes,2,1,2
996,1,80,186,267,Yes,1,2,3
997,2,64,108,174,Yes,2,3,3
998,2,84,123,195,No,2,4,1
999,1,61,155,197,No,3,2,1

In [318]:
df['Has Diabetes']

0       No
1      Yes
2      Yes
3       No
4      Yes
      ...
995    Yes
996    Yes
997    Yes
998     No
999     No
Name: Has Diabetes, Length: 1000, dtype: object

In [319]:
df['Has Diabetes'].unique()

array(['No', 'Yes'], dtype=object)

In [320]:
df['Has Diabetes'].value_counts()

Has Diabetes
Yes    517
No     483
Name: count, dtype: int64

In [321]:
HasDiabetes_dict = {
    'Yes':1,
    'No':2
}

In [322]:
HasDiabetes_dict

{'Yes': 1, 'No': 2}

In [323]:
df['Has Diabetes']=df['Has Diabetes'].map(HasDiabetes_dict)

In [324]:
df

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Has Diabetes,Smoking Status,Chest Pain Type,Treatment
0,1,70,181,262,2,1,1,1
1,2,55,103,253,1,1,2,2
2,1,42,95,295,1,2,1,2
3,1,84,106,270,2,1,2,3
4,1,86,187,296,1,2,3,4
...,...,...,...,...,...,...,...,...
995,1,42,125,193,1,2,1,2
996,1,80,186,267,1,1,2,3
997,2,64,108,174,1,2,3,3
998,2,84,123,195,2,2,4,1
999,1,61,155,197,2,3,2,1

In [325]:
df.dtypes

Gender                   int64
Age                      int64
Blood Pressure (mmHg)    int64
Cholesterol (mg/dL)      int64
Has Diabetes             int64
Smoking Status           int64
Chest Pain Type          int64
Treatment                int64
dtype: object

In [326]:
x = df.drop('Has Diabetes', axis = 1)
y = df[['Has Diabetes']]

In [327]:
x

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Smoking Status,Chest Pain Type,Treatment
0,1,70,181,262,1,1,1
1,2,55,103,253,1,2,2
2,1,42,95,295,2,1,2
3,1,84,106,270,1,2,3
4,1,86,187,296,2,3,4
...,...,...,...,...,...,...,...
995,1,42,125,193,2,1,2
996,1,80,186,267,1,2,3
997,2,64,108,174,2,3,3
998,2,84,123,195,2,4,1
999,1,61,155,197,3,2,1

In [328]:
y

     Has Diabetes
0               2
1               1
2               1
3               2
4               1
..            ...
995             1
996             1
997             1
998             2
999             2

[1000 rows x 1 columns]

In [329]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.2)

In [330]:
x_train

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Smoking Status,Chest Pain Type,Treatment
29,2,49,159,268,2,4,1
535,2,72,167,169,1,4,3
695,2,64,119,223,2,4,4
557,2,41,150,275,2,1,4
836,1,37,155,286,3,3,2
...,...,...,...,...,...,...,...
106,2,78,182,166,1,4,2
270,2,72,146,157,1,3,4
860,2,65,126,246,1,1,4
435,2,47,196,159,2,2,2
102,2,32,145,256,3,1,1

In [331]:
x_test

,Gender,Age,Blood Pressure (mmHg),Cholesterol (mg/dL),Smoking Status,Chest Pain Type,Treatment
521,1,71,99,157,3,4,2
737,1,79,192,279,3,3,2
740,1,63,157,238,1,1,2
660,2,54,134,182,2,4,4
411,2,79,106,230,1,3,1
...,...,...,...,...,...,...,...
408,2,69,110,162,3,3,4
332,2,64,95,285,3,1,4
208,2,48,146,167,3,4,1
613,2,82,93,235,3,2,4
78,1,45,171,150,2,1,3

In [332]:
y_train

     Has Diabetes
29              2
535             1
695             1
557             2
836             1
..            ...
106             2
270             2
860             2
435             1
102             1

[800 rows x 1 columns]

In [333]:
y_test

     Has Diabetes
521             1
737             2
740             1
660             1
411             1
..            ...
408             2
332             2
208             2
613             1
78              2

[200 rows x 1 columns]

In [334]:
x_test.shape,y_test.shape,x_train.shape,y_train.shape

((200, 7), (200, 1), (800, 7), (800, 1))

In [335]:
from sklearn.linear_model import LinearRegression

In [336]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [337]:
lr.score(x_test,y_test)

-0.02031781236750807

In [338]:
pred=lr.predict(x_test)

In [339]:
pred

array([[1.43380413],
       [1.46936586],
       [1.57252695],
       [1.42169403],
       [1.49233664],
       [1.44105103],
       [1.58416066],
       [1.48429693],
       [1.50289622],
       [1.50277538],
       [1.52290581],
       [1.496318  ],
       [1.50993086],
       [1.55910734],
       [1.4141844 ],
       [1.50509219],
       [1.53129837],
       [1.44599655],
       [1.43288659],
       [1.45098933],
       [1.53001865],
       [1.46637384],
       [1.38833963],
       [1.52227491],
       [1.49439064],
       [1.46141891],
       [1.4386448 ],
       [1.44220277],
       [1.42489962],
       [1.47686836],
       [1.46345082],
       [1.48989768],
       [1.46146936],
       [1.40727107],
       [1.37868345],
       [1.5154678 ],
       [1.5417307 ],
       [1.4426475 ],
       [1.47813626],
       [1.49521719],
       [1.484836  ],
       [1.44498869],
       [1.47062377],
       [1.51469818],
       [1.39745565],
       [1.537952  ],
       [1.48074292],
       [1.4451338 ],
       [1.50062163],
       [1.53811349],
       [1.45022923],
       [1.48652956],
       [1.51410264],
       [1.40575552],
       [1.49470939],
       [1.50812172],
       [1.40237428],
       [1.44155173],
       [1.46608514],
       [1.49477961],
       [1.50646968],
       [1.55514589],
       [1.4736409 ],
       [1.5226711 ],
       [1.46616837],
       [1.47145098],
       [1.49635066],
       [1.49744662],
       [1.4338676 ],
       [1.46809527],
       [1.45923175],
       [1.46704998],
       [1.49962115],
       [1.52628038],
       [1.56927985],
       [1.4334916 ],
       [1.48385481],
       [1.51298373],
       [1.47544084],
       [1.50128184],
       [1.41836998],
       [1.49301756],
       [1.46125609],
       [1.50170002],
       [1.4997677 ],
       [1.45553818],
       [1.43182222],
       [1.44411617],
       [1.46299992],
       [1.54381537],
       [1.40367125],
       [1.46031621],
       [1.56282743],
       [1.42496153],
       [1.44278192],
       [1.39628836],
       [1.45400318],
       [1.46438023],
       [1.54771596],
       [1.4795482 ],
       [1.53168971],
       [1.46704105],
       [1.47822434],
       [1.46728038],
       [1.53337216],
       [1.49121502],
       [1.53669153],
       [1.55659271],
       [1.47030974],
       [1.48412818],
       [1.44710021],
       [1.49200287],
       [1.52534466],
       [1.4949868 ],
       [1.48083701],
       [1.54093044],
       [1.43605024],
       [1.45861797],
       [1.51549282],
       [1.52275751],
       [1.58254022],
       [1.49341574],
       [1.5012793 ],
       [1.44527052],
       [1.52380093],
       [1.49770236],
       [1.50903696],
       [1.45483949],
       [1.4897148 ],
       [1.56425718],
       [1.47534383],
       [1.47236987],
       [1.49930642],
       [1.54653908],
       [1.50436476],
       [1.45749695],
       [1.53127505],
       [1.50592177],
       [1.4422502 ],
       [1.50458775],
       [1.43081322],
       [1.50094711],
       [1.44468381],
       [1.50027093],
       [1.47475923],
       [1.46656285],
       [1.47613302],
       [1.47148748],
       [1.49665351],
       [1.48924851],
       [1.51403119],
       [1.55045494],
       [1.53174367],
       [1.45468399],
       [1.49636844],
       [1.50634424],
       [1.44467221],
       [1.52708455],
       [1.5399042 ],
       [1.52264276],
       [1.40100852],
       [1.42892973],
       [1.5738168 ],
       [1.53360924],
       [1.52368219],
       [1.50733752],
       [1.55650381],
       [1.41084713],
       [1.55237081],
       [1.4531199 ],
       [1.48996956],
       [1.46429057],
       [1.45252364],
       [1.51568625],
       [1.4509471 ],
       [1.48217402],
       [1.52226928],
       [1.46634925],
       [1.54328194],
       [1.46637077],
       [1.44609629],
       [1.50900736],
       [1.48803576],
       [1.55296072],
       [1.54461166],
       [1.52150229],
       [1.45409968],
       [1.52370115],
       [1.46076341],
       [1.45091771],
       [1.4179613 ],
       [1.48673516],
       [1.48066165],
       [1.52251269],
       [1.47668645],
       [1.39723946],
       [1.46293426],
       [1.41701687],
       [1.42298028],
       [1.52651495]])